
@{
    ViewBag.Title = "About";
}


<div class="Home-About--MainContainer">

    <div class="Home-About--TitleContainer">
        <h1 class="Home-About--TitleOverlay">About Us</h1>
    </div>

    <div class="Home-About--AboutUsContainer">
        <h3 class="Home-About--SectionHeadings">Who We Are</h3>
        <p class="Home-About--Paragraph">
            We seek to engage audiences through compelling ensemble-driven productions with a focus on developing new works.
        </p>
    </div>

    <div class="Home-About--HistoryContainer">
        <h3 class="Home-About--SectionHeadings">Company History</h3>
        <p class="Home-About--Paragraph">In 1997, Theatre Vertigo was founded by Paul Floding, Nanette Pettit and Jeff Meyers.  Since then, Theatre Vertigo has performed in numerous spaces including The Russell Street Theater, The Electric Company, Theater!Theatre!, and The Shoebox Theater. </p>

        <p class="Home-About--Paragraph">
            From 2003 to 2014, Theatre Vertigo produced Anonymous Theatre as a summer fundraiser in collaboration with The Anonymous Theatre Company.  Other past collaborations include defunkt theatre, Stark Raving Theater, and Tears of Joy Theatre.
        </p>

        <p class="Home-About--Paragraph">
            Theatre Vertigo has worked on world premieres including Faust.Us by Joseph Fisher, 99 Ways to Fuck a Swan by Kim Rosenstock, and The End of Sex by Craig Jessen.
        </p>

        <p class="Home-About--Paragraph">
            In 2016, Theatre Vertigo produced its first officially commissioned work from a playwright, I Want To Destroy You, by Rob Handel.
        </p>
    </div>

    <div class="Home-About--EnsembleContainer">
        <h3 class="Home-About--SectionHeadings">Ensemble</h3>
        <div class="row row-cols-5 mx-0 my-5">
            <div class="Home-About--CastCol">
                <img class ="Home-About--Cast" src="../Content/images/Cast_Img_7.jpg" />
                <p>Tom Mounsey</p>
            </div>
            <div class="Home-About--CastCol">
                <img class ="Home-About--Cast" src="../Content/images/Cast_Img_1.jpg" />
                <p>Kaia Maarja Hillier</p>
            </div>
            <div class="Home-About--CastCol">
                <img class ="Home-About--Cast" src="../Content/images/Cast_Img_3.jpg" />
                <p>Heath Hyun Houghton</p>
            </div>
            <div class="Home-About--CastCol">
                <img class ="Home-About--Cast" src="../Content/images/Cast_Img_4.jpg" />
                <p>Jacquelle Davis</p>
            </div>
            <div class="Home-About--CastCol">
                <img class ="Home-About--Cast" src="../Content/images/Cast_Img_6.jpg" />
                <p>Victoria Alvarez-Chacon</p>
            </div>
        </div>
        <hr class="Home-About--SectionDivider" />
        <h3 class="Home-About--SectionHeadings">Board</h3>
        <p class="Home-About--Paragraph">Jamie Floyd (President)</p>
    </div>
</div>



